@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    background-color: aqua;
    background-image: url('../image/wave.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    height: 50vh;
}

.title {
    font-family: verdana;
    flex-basis: 50%;
}

.title h2{
    font-size: 1rem;
}

header img{
    flex-basis: 50%;
    max-width: min-content;
}

.middle {
    font-size: 3rem;
    margin: 10px;
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(24, 172, 231);
}

.pricing {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    font-family: 'Noto Sans JP', sans-serif;
}

.price ul, li{
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 20%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px black;
}














@media (max-width: 1090px) {
    .pricing {
        font-size: 0.8rem;
    }
}

@media (max-width: 650px) {
    .navbar {
        font-size: 0.8rem;
    }


    header {
        flex-direction: column-reverse;
        font-size: 0.7rem;
    }

    .title {
        flex-basis: 70%;
        justify-content: center;
        width: 80%;
        text-align: center;
    }
    header img {
        max-width: 50%;
        flex-basis: 30%;
    }
    .pricing {
        /* width: 60%; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.6rem;
    }
    .price {
        margin: 10px;
    }
    .price0 {
        margin-top: 0;
    }
}


@media (min-width: 1154px) {
    header {
        font-size: 1.3rem;
    }
}

@media (min-width: 1300px) {
    header img{
        position: relative;
        right: 15%;
    }
}